@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
}

#title-container,
#game-container {
    background-color: green;
    margin: 2% auto;
    width: 90%;
    height: 500px;
    padding: 2%;
}

.header-text {
    text-align: center;
    font-size: 3vw;
    color: white;
    font-family: "Oswald", sans-serif;
}

#title-btns-container {
    text-align: center;
}

.title-btn {
    padding: 1% 3%;
    font-size: 1.5vw;
}