html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.game-container {
    width: 95%;
    margin: 2% auto;
    text-align: center;
    border: 1px solid black;
}

.game-section,
.controls-section,
.table-section {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#blackjack-result {
    padding: 5%;
}

.game-section div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

.game-section img {
    width: 25%;
    padding: 10px;
}

.controls-section button {
    padding: 10px;
}

.controls-section div {
    border: 1px solid black;
    padding: 10px;
}


.table-section {
    padding: 0;
    margin: 0 auto;
}